* {
    font-family: 'Nanum Gothic', sans-serif;
}

html {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.layout-full {
    height: 100%;
    display: flex;
    background-color: #f1f1f1;
}

.layout-left {
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: stretch;
    float: left;
    flex-grow: 1;
    overflow: hidden;
}

.layout-left-top {
    display: flex;
    flex: 0 1 10em;
    margin: 15px;
}

.layout-left-bottom {
    flex: 1 1 auto;
    margin: 15px;
    overflow: hidden;
}

.layout-right {
    width: 22em;
    padding : 10px;
    background-color: white;
}

.chats-per-sec-left {
    width: 12em;
    height: 100%;
}

.chats-per-sec-right {
    float: right;
    flex-grow: 1;
}

.chats-per-sec-span-container {
    height: 10em;
    line-height: 10em;
    width: 100%;
    text-align: center;
}

.chats-per-sec-span {
    font-size: 4em;
    color: rgb(73, 73, 73);
}

.word-list-scroller {
    height: 100%;
    overflow: auto;
}

#word-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.word-list-item {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid lightgray;
}

.word-list-item:last-child {
    border-bottom: 0;
}

.word-list-item:hover {
    font-weight: bold;
    cursor: pointer;
}

.word-list-item-key-container {
    width: 3em;
    height: 100%;
    margin: 10px;
    text-align: right;
    display: inline-block;
}

.word-list-item-value-container {
    width: auto;
    height: 100%;
    margin: 10px;
    display: inline-block;
}

.word-list-item-key {
    color: #333333;
    font-size: 1em;
}

.word-list-item-value {
    font-size: 1.3em;
}

.chart-container {
    width: 100%;
    height: 100%;
}