
* {
    font-family: 'Nanum Gothic', sans-serif;
}

html {   
    height: 100%;
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
}

.layout-full {
    height: 100%;
    display: flex;
    background-color: #F7ECDE;
}

.layout-left {
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: stretch;
    float: left;
    flex-grow: 1;
}

.layout-left-top {
    display: flex;
    flex: 0 1 200px;
    margin: 15px;
}

.layout-left-bottom {
    flex: 1 1 auto;
    margin: 15px;
}

.layout-right {
    width: 300px;
    height: 100%;
}

.chats-per-sec-left {
    width: 200px;
    height: 100%;
}

.chats-per-sec-right {
    float: right;
    flex-grow: 1;
}

.chats-per-sec-span-container {
    height: 200px;
    line-height: 200px;
    width: 100%;
    text-align: center;
}

.chats-per-sec-span {
    font-size: 4em;
    color:rgb(73, 73, 73);
}

.word-list-scroller {
    height: 100%;
    overflow: auto;
}

#word-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.word-list-item {
    height: 100%;
    display: flex;
    margin: 10px;
    background-color: #9ED2C6;
    box-shadow: 3px 3px 0 0 rgba(134, 134, 134, 0.462);
}

.word-list-item:hover {
    background-color: bisque;
    cursor: pointer;
}

.word-list-item-key-container {
    width: 50%;
    height: 100%;
    float: left;
    margin: 10px;
    text-align: right;
}

.word-list-item-value-container {
    width: 50%;
    height: 100%;
    float: right;
    margin: 10px;
}

.word-list-item-key {
    font-size: 2em;
}

.word-list-item-value {
    font-size: 1.5em;
}