<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@1.27.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.0.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-streaming@2.0.0"></script>

    <script src='https://d3js.org/d3.v5.min.js'></script>

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR&display=swap" rel="stylesheet">

    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet"> 
    <script src="{{ url_for('static', path='/script.js') }}"></script>
    <title>Word Statistics</title>
</head>
<body>
    <div class="layout-full">
        <div class="layout-left">
            <div class="layout-left-top">
                <div class="chats-per-sec-left">
                    <span class="chats-per-sec-span">
                        
                    </span>
                </div>
                <div class="chats-per-sec-right">
                    <canvas id="chats-per-sec" class="chats-per-sec"></canvas>
                </div>
            </div>
            <div class="layout-left-bottom">
                <canvas id="words-per-day"></canvas>
            </div>
        </div>
        <div class="layout-right">
            <ul id="word-list">
                
            </ul>
        </div>
    </div>
</body>
</html>