<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js"></script>
    
    <script src="//unpkg.com/react/umd/react.production.min.js"></script>
    <script src="//unpkg.com/react-dom/umd/react-dom.production.min.js"></script>
    <script src="//unpkg.com/babel-standalone"></script>
    <script src="//unpkg.com/three"></script>
    <script src="//unpkg.com/three-spritetext"></script>
    <script src="//unpkg.com/react-force-graph-3d"></script>

    <title>Word Cloud</title>
    <style>
        html {
            height: 100%;
        }
        body {
            height: 100%;
        }
    </style>
</head>
<body>
    <select id="channels"></select>

    <div id="container" style="width:100%; height:100%; display:none;"></div>
    <div id="graph" style="width:100%; height:100%;"></div>
    <script type="text/jsx">
        var base_url = window.location.href;
        var chart = anychart.tagCloud([]);

        $(function() {
            chart.container("container");
            chart.draw();
            $.ajax({
                url: base_url + 'channels',
                type: 'GET',
                success: (channels, textStatus, jqXHR) => {      
                    if (channels.length == 0) {
                        alert('channel data not found');
                        return;
                    } 
                    
                    $('#channels').html('');
                    $.each(channels, function(idx, channel) {
                        $('#channels').append('<option value="' 
                         + channel['channel']
                         + '">'
                         + channel['channel'] 
                         + '</option>');
                    });

                    
                    $('#channels').change(function(){
                        load(this.value);
                    });
                    loadGraph();
                },
                error : function(XMLHttpRequest, textStatus, errorThrown) { 
                    alert("error : " + errorThrown)
                }
            });
        });

        function load(channel) {
            $("#channels").attr("disabled", true);
            $.ajax({
                url: base_url + 'statistics/word/' + channel,
                type: 'GET',
                success: (data, textStatus, jqXHR) => {  
                    $('#graph').css('display', 'none');
                    $('#container').css('display', 'inline');
                    chart.data(data);
                },
                error : function(XMLHttpRequest, textStatus, errorThrown) { 
                    alert("error : " + errorThrown)
                },
                complete: function(){
                    $("#channels").attr("disabled", false);
                }
            });
        }

        function loadGraph() {
            $.ajax({
                url: base_url + 'graph',
                type: 'GET',
                success: (data, textStatus, jqXHR) => {
                    console.log(data); 
                    ReactDOM.render(
                        <ForceGraph3D
                        graphData={data}
                        nodeAutoColorBy="group"
                        nodeThreeObject={node => {
                            const sprite = new SpriteText(node.id);
                            sprite.color = node.color;
                            sprite.textHeight = 8;
                            return sprite;
                        }}
                        />,
                        document.getElementById('graph')
                    );
                },
                error : function(XMLHttpRequest, textStatus, errorThrown) { 
                    alert("error : " + errorThrown)
                }
            });
        }
    </script>
</body>
</html>